<div class="row">
    <div class="col-lg-9 col-lg-offset-2">

        <div class="col-md-10">
            <h3>Car Info</h3>
            <table class="table">
                <tr>
                    <td>Name</td>
                    <td>{{car.name}}</td>
                </tr>
                <tbody>
                <tr>
                    <td>Mark</td>
                    <td>{{car.mark}}</td>
                </tr>
                <tr>
                    <td>Type</td>
                    <td>{{car.mark}}</td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td>{{car.price | currency}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
