<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="navbar-btn">
            <a class="btn btn-success" href="#/cars/create">
                <i class="glyphicon glyphicon-plus"></i>
                Add new Car
            </a>
        </div>

        <table class="table table-bordered dataTable">
            <thead>
            <tr>
                <th class="sortable" id="name">
                    Name
                </th>
                <th class="sortable">Mark</th>
                <th class="sortable">Type</th>
                <th>Price</th>
                <th ng-show="username">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="car in cars">
                <td>
                    {{ car.name }}
                </td>
                <td>
                    {{ car.mark }}
                </td>
                <td>
                    {{ car.type }}
                </td>
                <td>
                    {{ car.price | currency }}
                </td>
                <td ng-show="username">
                    <div>
                        <a class="btn btn-info btn-xs" href="#/cars/{{car._id}}/edit">
                            <i class="glyphicon glyphicon-edit"></i>
                            Edit
                        </a>

                        <button class="btn btn-danger btn-xs" ng-click="delete(car._id)">
                            <i class="glyphicon glyphicon-remove"></i>
                            Delete
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>