<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <table class="table table-bordered dataTable">
            <thead>
            <tr>
                <th class="sortable" id="name">
                    Name
                </th>
                <th class="sortable">Mark</th>
                <th class="sortable">Type</th>
                <th width="220">Price</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="car in cars">
                <td>
                    {{ car.name }}
                </td>
                <td>
                    {{ car.mark }}
                </td>
                <td>
                    {{ car.type }}
                </td>
                <td>
                    {{ car.price | currency }}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>